In [25]:
import pandas as pd
import numpy as np
import json
import pprint
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [26]:
# El objetivo de mi empresa es abrir una sucursal en Alemania, por lo que filtro la base de datos
# para quedarme exclusivamente con los registros con oficinas en ese país

german_comps = db.companies.find({
    "offices.country_code": 'DEU'
        })

In [27]:
# Creo el DataFrame

euro_comps = pd.DataFrame(german_comps)
euro_comps.head()

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,...,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297da8,None,"[{'price_amount': None, 'price_currency_code':...",,,http://www.openx.com/blog,advertising,"[{'competitor': {'name': 'DoubleClick', 'perma...",Wed Jun 13 18:23:43 UTC 2007,http://www.crunchbase.com/company/openx,...,626-466-1141,"[{'name': 'OpenX Enterprise', 'permalink': 'op...",[],"[{'is_past': False, 'title': 'VP, Engineering ...",[],"ad-server, ad-serving, ad-exchange, yield-opti...",$75.5M,OpenX,Wed Dec 11 00:44:01 UTC 2013,"[{'embed_code': '<object width=""430"" height=""2..."
1,52cdef7c4bab8bd675297dd7,None,[],,,,games_video,"[{'competitor': {'name': 'Amie Street', 'perma...",Wed Jul 04 05:29:56 UTC 2007,http://www.crunchbase.com/company/sellaband,...,,"[{'name': 'SellABand', 'permalink': 'sellaband'}]",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],"musicmonetizatoin, music, bands",$5M,sellaband,Thu Apr 29 21:39:39 UTC 2010,[]
2,52cdef7c4bab8bd675297dba,None,"[{'price_amount': 60000000, 'price_currency_co...",Google,http://googleblog.blogspot.com/feeds/posts/def...,http://googleblog.blogspot.com,search,"[{'competitor': {'name': 'Technorati', 'permal...",Sat Jun 30 22:18:12 UTC 2007,http://www.crunchbase.com/company/google,...,650.253.0000,"[{'name': 'Gmail', 'permalink': 'gmail'}, {'na...","[{'title': 'Public Relations (APAC)', 'is_past...","[{'is_past': False, 'title': 'CEO of Google Co...",[],"search, gmail, blogger, find, information, you...",$555M,google,Mon Jan 06 04:52:54 UTC 2014,"[{'embed_code': '<embed src=""http://blip.tv/pl..."
3,52cdef7c4bab8bd675297e81,None,"[{'price_amount': 30000000, 'price_currency_co...",,http://blog.brightcove.com/blog/index.rdf,http://blog.brightcove.com/,enterprise,"[{'competitor': {'name': 'PermissionTV', 'perm...",Thu Aug 02 15:56:57 UTC 2007,http://www.crunchbase.com/company/brightcove,...,617.500.4947,"[{'name': 'Brightcove', 'permalink': 'brightco...","[{'title': '', 'is_past': False, 'provider': {...","[{'is_past': False, 'title': 'CEO', 'person': ...",[],"brightcove, online-video-platform, video, tv-e...",$103M,brightcove,Fri Oct 11 19:48:45 UTC 2013,"[{'embed_code': '<embed src=""http://blip.tv/pl..."
4,52cdef7c4bab8bd675297ecd,None,[],None,http://feeds.feedburner.com/jimdo_en,http://www.jimdo.com/blog/,web,"[{'competitor': {'name': 'Weebly', 'permalink'...",Wed Aug 15 11:07:35 UTC 2007,http://www.crunchbase.com/company/jimdo,...,415-727-0774,"[{'name': 'JimdoFree', 'permalink': 'jimdofree...","[{'title': '', 'is_past': False, 'provider': {...","[{'is_past': False, 'title': 'Co-founder', 'pe...","[{'available_sizes': [[[150, 117], 'assets/ima...","jimdo, ajax, siteeditor, websiteeditor, websit...",$0,jimdo,Fri Dec 06 00:22:46 UTC 2013,"[{'embed_code': '<iframe width=""430"" height=""3..."

In [28]:
# Selecciono las columnas que me interesan y descarto las demás

less_columns = euro_comps[['name', 'offices', 'funding_rounds', 'total_money_raised', 'founded_year', 'number_of_employees', 'category_code', 'description', 'overview', 'tag_list']].copy()
less_columns.head()

,name,offices,funding_rounds,total_money_raised,founded_year,number_of_employees,category_code,description,overview,tag_list
0,OpenX,"[{'description': 'Headquarters', 'address1': '...","[{'id': 31, 'round_code': 'a', 'source_url': '...",$75.5M,2008.0,305.0,advertising,OpenX,<p>OpenX is a global leader in digital and mob...,"ad-server, ad-serving, ad-exchange, yield-opti..."
1,SellABand,"[{'description': None, 'address1': 'Harderhook...","[{'id': 1989, 'round_code': 'a', 'source_url':...",$5M,2006.0,NaN,games_video,Fund raising for bands,<p>SellaBand.com first launched in August 2006...,"musicmonetizatoin, music, bands"
2,Google,"[{'description': 'Google Headquarters', 'addre...","[{'id': 380, 'round_code': 'angel', 'source_ur...",$555M,1998.0,28000.0,search,,<p>Google provides search and advertising serv...,"search, gmail, blogger, find, information, you..."
3,Brightcove,"[{'description': 'Headquarters', 'address1': '...","[{'id': 290, 'round_code': 'a', 'source_url': ...",$103M,2004.0,220.0,enterprise,Online video platform,"<p>Brightcove Inc. (NASDAQ: BCOV), a leading g...","brightcove, online-video-platform, video, tv-e..."
4,Jimdo,"[{'description': 'Germany', 'address1': 'Stres...","[{'id': 352, 'round_code': 'angel', 'source_ur...",$0,2007.0,170.0,web,online website builder,<p>Jimdo is the easiest way to create a websit...,"jimdo, ajax, siteeditor, websiteeditor, websit..."

In [5]:
# Comprobación de tamaño del DataFrame actual

less_columns.shape

(383, 10)

In [6]:
# Comprobación de los subsets dentro de offices

print(less_columns['offices'][0])

[{'description': 'Headquarters', 'address1': '888 East Walnut Street', 'address2': '', 'zip_code': '91101', 'city': 'Pasadena', 'state_code': 'CA', 'country_code': 'USA', 'latitude': 34.1494713, 'longitude': -118.1327468}, {'description': 'New York', 'address1': '584 Broadway', 'address2': '8th Floor', 'zip_code': '10012', 'city': 'New York', 'state_code': 'NY', 'country_code': 'USA', 'latitude': None, 'longitude': None}, {'description': 'London', 'address1': '1 Maple Place', 'address2': '', 'zip_code': 'W1T 4BB', 'city': 'London', 'state_code': None, 'country_code': 'GBR', 'latitude': None, 'longitude': None}, {'description': 'Tokyo', 'address1': '4-12-25 Minami-Azabu', 'address2': 'Minato-ku', 'zip_code': '1060047', 'city': 'Tokyo', 'state_code': None, 'country_code': 'JPN', 'latitude': None, 'longitude': None}, {'description': 'Munich', 'address1': 'Maximilianstrasse 35a', 'address2': '', 'zip_code': '80539', 'city': 'Munich', 'state_code': None, 'country_code': 'DEU', 'latitude': None, 'longitude': None}]

In [13]:
# Extraigo los datos de ciudad, latitud, longitud y geo para cada oficina de las ubicadas en Alemania y
# que tengan latitud y longitud

def get_coords(less_columns):
    # gets a row from less_columns df and returns the first german office in dict shape
    res = {
        "city": None,
        "lat": None,
        "lng": None,
        "geo": None
    }

    oficinas = less_columns['offices']
    
    for oficina in oficinas: 
        
        if oficina.get('country_code') == 'DEU' and oficina.get('latitude') and oficina.get('longitude'): 
            
            coords = {
            "type": "Point",
            "coordinates": [oficina.get('longitude'), oficina.get('latitude')]
            }
            res = {
                "city": oficina.get('city'),
                "lat": oficina.get('latitude'),
                "lng": oficina.get('longitude'),
                "geo": coords
                }
            break
    return res

location = less_columns[['offices']].apply(get_coords, result_type='expand', axis=1)
location.head()

,city,geo,lat,lng
0,None,None,NaN,NaN
1,46395 Bocholt,"{'type': 'Point', 'coordinates': [6.553452, 51...",51.808933,6.553452
2,Hamburg,"{'type': 'Point', 'coordinates': [9.985266, 53...",53.554052,9.985266
3,None,None,NaN,NaN
4,None,None,NaN,NaN

In [31]:
# Creo un nuevo DataFrame 'germany' agregando las columnas anteriores 'location' al anterior DataFrame 'less-columns'

germany = pd.concat([less_columns,location], axis=1)[["name","city","offices","geo","lat","lng","total_money_raised","founded_year","number_of_employees","category_code","description","overview","tag_list"]]
germany.head(3)

,name,city,offices,geo,lat,lng,total_money_raised,founded_year,number_of_employees,category_code,description,overview,tag_list
0,OpenX,None,"[{'description': 'Headquarters', 'address1': '...",None,NaN,NaN,$75.5M,2008.0,305.0,advertising,OpenX,<p>OpenX is a global leader in digital and mob...,"ad-server, ad-serving, ad-exchange, yield-opti..."
1,SellABand,46395 Bocholt,"[{'description': None, 'address1': 'Harderhook...","{'type': 'Point', 'coordinates': [6.553452, 51...",51.808933,6.553452,$5M,2006.0,NaN,games_video,Fund raising for bands,<p>SellaBand.com first launched in August 2006...,"musicmonetizatoin, music, bands"
2,Google,Hamburg,"[{'description': 'Google Headquarters', 'addre...","{'type': 'Point', 'coordinates': [9.985266, 53...",53.554052,9.985266,$555M,1998.0,28000.0,search,,<p>Google provides search and advertising serv...,"search, gmail, blogger, find, information, you..."

In [32]:
# Elimino los registros en los que no tengo datos de latitud (ni longitud), ya que no podré representarlos

germany.dropna(subset=['lat'], inplace=True)
germany.head(3)

,name,city,offices,geo,lat,lng,total_money_raised,founded_year,number_of_employees,category_code,description,overview,tag_list
1,SellABand,46395 Bocholt,"[{'description': None, 'address1': 'Harderhook...","{'type': 'Point', 'coordinates': [6.553452, 51...",51.808933,6.553452,$5M,2006.0,NaN,games_video,Fund raising for bands,<p>SellaBand.com first launched in August 2006...,"musicmonetizatoin, music, bands"
2,Google,Hamburg,"[{'description': 'Google Headquarters', 'addre...","{'type': 'Point', 'coordinates': [9.985266, 53...",53.554052,9.985266,$555M,1998.0,28000.0,search,,<p>Google provides search and advertising serv...,"search, gmail, blogger, find, information, you..."
5,Adknowledge,Munich,"[{'description': 'World Headquarters', 'addres...","{'type': 'Point', 'coordinates': [11.5582609, ...",48.163509,11.558261,$248M,2004.0,300.0,advertising,,<p>Adknowledge is a digital marketing company ...,"advertising, cpc, adstation, cubics, bidsystem..."

In [33]:
# Ordeno descendentemente por año de fundación

germany.sort_values(by=['founded_year'], ascending=False, inplace=True)
germany.head(3)

,name,city,offices,geo,lat,lng,total_money_raised,founded_year,number_of_employees,category_code,description,overview,tag_list
8,headr,Berlin,"[{'description': '', 'address1': 'Ritterstr. 1...","{'type': 'Point', 'coordinates': [13.4109071, ...",52.501345,13.410907,$0,2012.0,8.0,web,Free Facebook video chat app.,"<p><a href=""http://vive.me/"" title=""vive"" rel=...",
196,fruux,Muenster,"[{'description': '', 'address1': '', 'address2...","{'type': 'Point', 'coordinates': [7.6267552, 5...",51.963009,7.626755,$0,2010.0,NaN,web,"Syncs Contacts, calender and tasks",<p>fruux solves the problem of working with co...,"sync, synchronize, contacts, calendars, events..."
305,printium,Potsdam,"[{'description': 'HQ', 'address1': 'Behlertstr...","{'type': 'Point', 'coordinates': [13.0673441, ...",52.405558,13.067344,$0,2009.0,3.0,enterprise,Global Publishing Platform,<p>printium&#8217;s vision is to provide all p...,"print, publishing, community, global, directory"

In [34]:
# Exporto a .csv

germany.to_csv('germany.csv')

In [35]:
# Exporto a .json

germany.to_json('germany.json', orient='records')