In [2]:
import pandas as pd
import numpy as np
import json
import pprint
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [3]:
german_comps = db.companies.find({
    "offices.country_code": 'DEU'
        })

In [4]:
euro_comps = pd.DataFrame(german_comps)
euro_comps.head()

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,...,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297da8,None,"[{'price_amount': None, 'price_currency_code':...",,,http://www.openx.com/blog,advertising,"[{'competitor': {'name': 'DoubleClick', 'perma...",Wed Jun 13 18:23:43 UTC 2007,http://www.crunchbase.com/company/openx,...,626-466-1141,"[{'name': 'OpenX Enterprise', 'permalink': 'op...",[],"[{'is_past': False, 'title': 'VP, Engineering ...",[],"ad-server, ad-serving, ad-exchange, yield-opti...",$75.5M,OpenX,Wed Dec 11 00:44:01 UTC 2013,"[{'embed_code': '<object width=""430"" height=""2..."
1,52cdef7c4bab8bd675297dd7,None,[],,,,games_video,"[{'competitor': {'name': 'Amie Street', 'perma...",Wed Jul 04 05:29:56 UTC 2007,http://www.crunchbase.com/company/sellaband,...,,"[{'name': 'SellABand', 'permalink': 'sellaband'}]",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],"musicmonetizatoin, music, bands",$5M,sellaband,Thu Apr 29 21:39:39 UTC 2010,[]
2,52cdef7c4bab8bd675297dba,None,"[{'price_amount': 60000000, 'price_currency_co...",Google,http://googleblog.blogspot.com/feeds/posts/def...,http://googleblog.blogspot.com,search,"[{'competitor': {'name': 'Technorati', 'permal...",Sat Jun 30 22:18:12 UTC 2007,http://www.crunchbase.com/company/google,...,650.253.0000,"[{'name': 'Gmail', 'permalink': 'gmail'}, {'na...","[{'title': 'Public Relations (APAC)', 'is_past...","[{'is_past': False, 'title': 'CEO of Google Co...",[],"search, gmail, blogger, find, information, you...",$555M,google,Mon Jan 06 04:52:54 UTC 2014,"[{'embed_code': '<embed src=""http://blip.tv/pl..."
3,52cdef7c4bab8bd675297e81,None,"[{'price_amount': 30000000, 'price_currency_co...",,http://blog.brightcove.com/blog/index.rdf,http://blog.brightcove.com/,enterprise,"[{'competitor': {'name': 'PermissionTV', 'perm...",Thu Aug 02 15:56:57 UTC 2007,http://www.crunchbase.com/company/brightcove,...,617.500.4947,"[{'name': 'Brightcove', 'permalink': 'brightco...","[{'title': '', 'is_past': False, 'provider': {...","[{'is_past': False, 'title': 'CEO', 'person': ...",[],"brightcove, online-video-platform, video, tv-e...",$103M,brightcove,Fri Oct 11 19:48:45 UTC 2013,"[{'embed_code': '<embed src=""http://blip.tv/pl..."
4,52cdef7c4bab8bd675297ecd,None,[],None,http://feeds.feedburner.com/jimdo_en,http://www.jimdo.com/blog/,web,"[{'competitor': {'name': 'Weebly', 'permalink'...",Wed Aug 15 11:07:35 UTC 2007,http://www.crunchbase.com/company/jimdo,...,415-727-0774,"[{'name': 'JimdoFree', 'permalink': 'jimdofree...","[{'title': '', 'is_past': False, 'provider': {...","[{'is_past': False, 'title': 'Co-founder', 'pe...","[{'available_sizes': [[[150, 117], 'assets/ima...","jimdo, ajax, siteeditor, websiteeditor, websit...",$0,jimdo,Fri Dec 06 00:22:46 UTC 2013,"[{'embed_code': '<iframe width=""430"" height=""3..."

In [8]:
less_columns = euro_comps[['name', 'offices', 'funding_rounds', 'total_money_raised', 'founded_year', 'number_of_employees', 'category_code', 'description', 'overview', 'tag_list']].copy()
less_columns.head()

,name,offices,funding_rounds,total_money_raised,founded_year,number_of_employees,category_code,description,overview,tag_list
0,OpenX,"[{'description': 'Headquarters', 'address1': '...","[{'id': 31, 'round_code': 'a', 'source_url': '...",$75.5M,2008.0,305.0,advertising,OpenX,<p>OpenX is a global leader in digital and mob...,"ad-server, ad-serving, ad-exchange, yield-opti..."
1,SellABand,"[{'description': None, 'address1': 'Harderhook...","[{'id': 1989, 'round_code': 'a', 'source_url':...",$5M,2006.0,NaN,games_video,Fund raising for bands,<p>SellaBand.com first launched in August 2006...,"musicmonetizatoin, music, bands"
2,Google,"[{'description': 'Google Headquarters', 'addre...","[{'id': 380, 'round_code': 'angel', 'source_ur...",$555M,1998.0,28000.0,search,,<p>Google provides search and advertising serv...,"search, gmail, blogger, find, information, you..."
3,Brightcove,"[{'description': 'Headquarters', 'address1': '...","[{'id': 290, 'round_code': 'a', 'source_url': ...",$103M,2004.0,220.0,enterprise,Online video platform,"<p>Brightcove Inc. (NASDAQ: BCOV), a leading g...","brightcove, online-video-platform, video, tv-e..."
4,Jimdo,"[{'description': 'Germany', 'address1': 'Stres...","[{'id': 352, 'round_code': 'angel', 'source_ur...",$0,2007.0,170.0,web,online website builder,<p>Jimdo is the easiest way to create a websit...,"jimdo, ajax, siteeditor, websiteeditor, websit..."

In [9]:
less_columns.shape

(383, 10)

In [10]:
print(less_columns['offices'][0])

[{'description': 'Headquarters', 'address1': '888 East Walnut Street', 'address2': '', 'zip_code': '91101', 'city': 'Pasadena', 'state_code': 'CA', 'country_code': 'USA', 'latitude': 34.1494713, 'longitude': -118.1327468}, {'description': 'New York', 'address1': '584 Broadway', 'address2': '8th Floor', 'zip_code': '10012', 'city': 'New York', 'state_code': 'NY', 'country_code': 'USA', 'latitude': None, 'longitude': None}, {'description': 'London', 'address1': '1 Maple Place', 'address2': '', 'zip_code': 'W1T 4BB', 'city': 'London', 'state_code': None, 'country_code': 'GBR', 'latitude': None, 'longitude': None}, {'description': 'Tokyo', 'address1': '4-12-25 Minami-Azabu', 'address2': 'Minato-ku', 'zip_code': '1060047', 'city': 'Tokyo', 'state_code': None, 'country_code': 'JPN', 'latitude': None, 'longitude': None}, {'description': 'Munich', 'address1': 'Maximilianstrasse 35a', 'address2': '', 'zip_code': '80539', 'city': 'Munich', 'state_code': None, 'country_code': 'DEU', 'latitude': None, 'longitude': None}]

In [22]:
def get_coords(row):
    # gets a row from less_columns df and returns the first german office in dict shape
    res = {
        "city": None,
        "lat": None,
        "lng": None,
        "site": None
    }

    oficinas = row['offices']
    
    for oficina in oficinas: 
        
        if oficina.get('country_code') == 'DEU' and oficina.get('latitude') and oficina.get('longitude'): 
            
            coords = {
            "type": "Point",
            "coordinates": [oficina.get('latitude'), oficina.get('longitude')]
            }
            res = {
                "city": oficina.get('city'),
                "lat": oficina.get('latitude'),
                "lng": oficina.get('longitude'),
                "site": coords
                }
            break
    return res

location = less_columns.apply(get_coords, result_type='expand', axis=1)
location

,city,lat,lng,site
0,None,NaN,NaN,None
1,46395 Bocholt,51.808933,6.553452,"{'type': 'Point', 'coordinates': [51.808933, 6..."
2,Hamburg,53.554052,9.985266,"{'type': 'Point', 'coordinates': [53.554052, 9..."
3,None,NaN,NaN,None
4,None,NaN,NaN,None
5,Munich,48.163509,11.558261,"{'type': 'Point', 'coordinates': [48.1635092, ..."
6,None,NaN,NaN,None
7,None,NaN,NaN,None
8,Berlin,52.501345,13.410907,"{'type': 'Point', 'coordinates': [52.5013449, ..."
9,None,NaN,NaN,None
10,Norderstedt,53.707739,10.023246,"{'type': 'Point', 'coordinates': [53.707739, 1..."
11,None,NaN,NaN,None
12,Berlin,52.523402,13.398694,"{'type': 'Point', 'coordinates': [52.523402, 1..."
13,Hamburg,53.540804,9.993586,"{'type': 'Point', 'coordinates': [53.540804, 9..."
14,None,NaN,NaN,None
15,None,NaN,NaN,None
16,None,NaN,NaN,None
17,Hamburg,53.555554,9.987930,"{'type': 'Point', 'coordinates': [53.555554, 9..."
18,Berlin,52.513183,13.394149,"{'type': 'Point', 'coordinates': [52.5131826, ..."
19,Munich,48.124827,11.556452,"{'type': 'Point', 'coordinates': [48.124827, 1..."
20,Hamburg,53.545980,9.987181,"{'type': 'Point', 'coordinates': [53.54598, 9...."
21,Hannover,52.365387,9.758041,"{'type': 'Point', 'coordinates': [52.3653872, ..."
22,Aachen,50.791481,6.066681,"{'type': 'Point', 'coordinates': [50.791481, 6..."
23,None,NaN,NaN,None
24,Berlin,52.502633,13.441005,"{'type': 'Point', 'coordinates': [52.502633, 1..."
25,Berlin,52.498620,13.446903,"{'type': 'Point', 'coordinates': [52.4986199, ..."
26,Berlin,52.529075,13.416151,"{'type': 'Point', 'coordinates': [52.5290751, ..."
27,Ostfildern,48.724352,9.222373,"{'type': 'Point', 'coordinates': [48.7243517, ..."
28,Munich,48.201280,11.546494,"{'type': 'Point', 'coordinates': [48.20128, 11..."
29,None,NaN,NaN,None
...,...,...,...,...
353,Hamburg,53.550150,9.998620,"{'type': 'Point', 'coordinates': [53.55015, 9...."
354,Berlin,52.532547,13.408999,"{'type': 'Point', 'coordinates': [52.5325472, ..."
355,LÃƒÂ¼neburg,53.261554,10.418359,"{'type': 'Point', 'coordinates': [53.2615543, ..."
356,None,NaN,NaN,None
357,None,NaN,NaN,None
358,LÃƒÂ¼beck,53.835358,10.697679,"{'type': 'Point', 'coordinates': [53.8353585, ..."
359,Berlin,52.527926,13.381354,"{'type': 'Point', 'coordinates': [52.5279255, ..."
360,Hamburg,53.597305,9.976252,"{'type': 'Point', 'coordinates': [53.5973055, ..."
361,None,NaN,NaN,None
362,Dresden,51.058005,13.768621,"{'type': 'Point', 'coordinates': [51.0580048, ..."
363,Dresden,51.034362,13.775964,"{'type': 'Point', 'coordinates': [51.0343624, ..."
364,,48.055441,11.607509,"{'type': 'Point', 'coordinates': [48.0554409, ..."
365,,48.265012,13.030567,"{'type': 'Point', 'coordinates': [48.265012, 1..."
366,None,NaN,NaN,None
367,Hamburg,53.554390,10.017753,"{'type': 'Point', 'coordinates': [53.5543901, ..."
368,None,NaN,NaN,None
369,,48.256468,9.021606,"{'type': 'Point', 'coordinates': [48.2564685, ..."
370,,48.381895,11.535384,"{'type': 'Point', 'coordinates': [48.3818946, ..."
371,Dresden,51.126093,13.785032,"{'type': 'Point', 'coordinates': [51.1260927, ..."
372,Darmstadt,49.897475,8.608451,"{'type': 'Point', 'coordinates': [49.8974755, ..."
373,Mannheim,49.507710,8.523008,"{'type': 'Point', 'coordinates': [49.5077097, ..."
374,Montabur,50.433334,7.804888,"{'type': 'Point', 'coordinates': [50.4333344, ..."
375,None,NaN,NaN,None
376,None,NaN,NaN,None
377,Stuttgart,48.781871,9.177304,"{'type': 'Point', 'coordinates': [48.7818713, ..."
378,None,NaN,NaN,None
379,Berlin,52.494307,13.434474,"{'type': 'Point', 'coordinates': [52.4943074, ..."
380,None,NaN,NaN,None
381,,54.771291,9.396214,"{'type': 'Point', 'coordinates': [54.7712906, ..."
382,Kiel,54.323738,10.166515,"{'type': 'Point', 'coordinates': [54.323738, 1..."

In [ ]:
germany = pd.concat([less_columns,location], axis=1)[["name","city","offices","site","lat","lng","total_money_raised","founded_year","number_of_employees","category_code","description","overview","tag_list"]]
germany.head()

In [ ]:
display(df_clean.shape)
df_clean.head()

In [ ]:
# Remove offices with unexisting lat,lng or both lat and lng data
#df_clean.dropna(axis=0, inplace=True)

# mongoimport --db companies --collection first_office --jsonArray ./data/oficinas.json
df_clean.to_json('./data/oficinas.json', orient="records")

In [ ]:
#https://docs.mongodb.com/manual/reference/operator/query/near/index.html
def findNear(geopoint, radio_max_meters=1000):
    return db.first_office.find({
        "oficina_principal": {
         "$near": {
           "$geometry": geopoint,
           "$maxDistance": radio_max_meters,
         }
       }
    })


# https://developers.google.com/maps/documentation/geocoding/intro
park_avenue_con_21_street = {
    "type":"Point",
    "coordinates":[-73.987308,40.738935]
}
radio_max_meters = 10000
num_offices = findNear(park_avenue_con_21_street, radio_max_meters).count()

print(f"Hay {num_offices} oficinas cerca a {radio_max_meters} metros")
print("La mas cercana es")
print(list(findNear(park_avenue_con_21_street, radio_max_meters).limit(1)))

In [ ]:
pd.DataFrame(findNear(park_avenue_con_21_street, 5000)).to_csv("./data/geoesp.csv")